# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.pytest_cache/
.mypy_cache/
.pyretype/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/

# VS Code
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Build / coverage
htmlcov/
.coverage
.coverage.*
coverage.xml
.pytest_cache/

# Bytecode / caches
*.pyo
*.pyd
